body {
    font-family: 'Ubuntu', sans-serif;
}

span.tags span {
    opacity: .25;
    font-size: small;
    font-weight: bold;
}

table {
    font-family: 'Ubuntu Mono', sans-serif;
}

td {
    font-size: small;
}

td.text {
    white-space: nowrap;
    padding-top: 0;
    padding-bottom: 0;
}

td.actions {
    text-align: center;
}

div.btn-toolbar {
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

td.created.less_1_day {
    font-weight: bold;
}

td.created.more_2_days {
    color: #7f7f7f;
}

.bold {
    font-weight: bold;
}