{% load format_datetime %}
<!DOCTYPE html>
<html>
  <head>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:400,700" rel="'stylesheet" type="text/css">
    <link href="static/eztv.css" rel="stylesheet" type="text/css" />
    <title>EZTV</title>
  </head>
  <body>
    <div class="container">
      <h1>EZTV</h1>
      <p>A simple web interface that parses the eztv_it timeline. It uses Memcached for caching the data from Twitter using the Django caching framework.</p>
      <hr />
      {% if error %}
      <div class="alert alert-error">
        <span class="bold">Bad response from Twitter</span><br />
        <span>{{ error }}</span>
      </div>
      {% elif data %}
      <table class="table table-condensed table-striped table-hover table-bordered">
        <tr>
          <th>Name</th>
          <th>Timestamp</th>
          <th>Link</th>
        </tr>
        {% for row in data %}
        {% if row.parsed %}
        <tr>
          <td class="text">{{ row.text }}
            {% if row.tags|length > 0 %}
            <span class="tags">
              {% for tag in row.tags %}
              <span class="{{ tag }}">
                {{ tag }}
              </span>
              {% endfor %}
            </span>
            {% endif %}
          </td>
          <td class="created{% if row.created_class %} {{ row.created_class }}{% endif %}">{{ row.created|format_datetime }}{{row.created_class}}</td>
          <td class="actions">
            <div class="btn-toolbar">
              <div class="btn-group">
                <a href="{{row.url}}" class="btn btn-mini btn-info">
                  <i class="icon-magnet icon-white"></i> DL
                </a>
                <a href="http://thepiratebay.sx/search/{{ row.text }}/0/7/0"
                   target="_blank" class="btn btn-mini btn-warning">
                  <i class="icon-search icon-white"></i> TPB
                </a>
                <a href="http://kat.ph/usearch/{{ row.text}}/?field=seeders&sorder=desc"
                   target="_blank" class="btn btn-mini btn-inverse">
                  <i class="icon-search icon-white"></i> KAT
                </a>
              </div>
            </div>
          </td>
        </tr>
        {% else %}
        <tr class="error">
          <td>{{ row.text }}</td>
          <td>{{ row.created|format_datetime }}</td>
          <td>Parse error</th>
        </tr>
        {% endif %}
        {% endfor %}
      </table>
      {% endif %}
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="static/eztv.js"></script>
  </body>
</html>
